*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-image: url(../assets/women.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Space Mono', monospace;
}
header{
  background:#000000;
  color:pink;
  width: auto;
  height: 100px;
  text-align: center;
}
header nav{
  font-family: 'Libre Barcode 39 Extended Text', cursive;
  font-size: 50px;
  padding: 30px;
}
section{
  display: inline-block;
  margin: 10px;
}
#container{
  margin-left: 5%;
  margin-right: 5%;
}
#profile-box{
  padding: 10px;
  height: auto;
  width:500px;
  background: #000000;
  border-radius: 10px;
  color: #ffff;
  text-align: center;
}
div h1 {
  margin: 0;
  background: pink;
  width: 100%;
  height: 50px;
  color: #000000;
  border-radius: 10px;
}
img{
  margin: 10px;
  width: 150px;
  height: 150px;
  border-radius: 150px
}
#text-box{
  height: auto;
  width: auto;
  border: none;
}
textarea{
  padding: 20px;
  font-size: 20px;
  width: 500px;
  height: 100px;
  border: hidden;
  border-radius: 10px;
  background: pink;
}
.button-characters{
  margin: 5px;
  font-size: 30px;
}
.btn-c{
  display: inline;
}
button{
  background-color: #000000;
  padding: 10px 10px;
  color: pink;
  border-radius: 5px;
  border: 0;
  font-weight: 600;
}
button:hover{
  filter: contrast(.5);
}
#number_characters{
  background: #ffff;
  border-radius: 50px;
}

#text-container{
  font-family: 'Courgette', cursive;
  font-size: 20px;
  height: auto;
  width: auto;
}
